/* Medium Screens min width 641px change to 4 columns */
.skillsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-auto-rows: auto;
    height: auto;
    background-color: inherit;
  }
.skillsGrid img {
  height: 90px;
  width: 90px;
}
.skills{
  background-color: inherit;
  display: flex;
  flex-direction: column;
  margin:50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.skills-form{
  font-size: calc(15px + 1vmin);
  margin-bottom:50px;
}
.page-title{
  font-size: calc(60px + 1vmin);
}
.about-info{
  font-size: calc(15px + 1vmin);
  text-align: left !important;
}
.about-form{
  margin:50px;
  margin-bottom:106px;
}
