page-title{
  font-size: calc(60px + 1vmin);

}
.job-name{
  display:flex;
  font-size: 30px;
  margin-top:40px;
}
.job-title{
  display:flex;
  font-size: 25px;
  margin-left:100px;
  margin-bottom:30px;
}

.work-div{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 30px;

}

.logo {
  display: flex;
  pointer-events: none;
  margin:30px;
  width: 70px;
  height:70px;
}
